/**
 * Use relative root path for imports.
 * @import "./src-pkg/module/index.pcss"; -> false
 * @import "./module/index.pcss"; -> true
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
